body {
    background: linear-gradient(to right, #f12711, #f5af19); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-family: 'Baloo Tammudu 2', cursive;
}

#logo{
    margin-top: 50px;
    margin-bottom: 50px;
}

.agricultura{
    border-radius: 8px;
    height: 100%;
    width: 75%;
}

.about{
    width: 50%;
}